<div class="header">
    <div class="content-inner">
        <p>I'm</p>
        <h1>Michael Miller</h1>
        <h2><ngx-typed-js [strings] = "['Web Designer', 'Web Developer', 'Front End Developer', 'Apps Developer', 'Graphic Designer']"
        [typeSpeed]="55"
        [backSpeed]="15"
        [shuffle] ="true"
        [showCursor]="true" 
        [backDelay]="2000"
        [smartBackspace]="false"
        [loop] = "true">
            <span class="typing"></span>
        </ngx-typed-js>
        </h2>
    </div>
</div>
    
<div class="large-btn">
    <div class="content-inner">
        <a class="btn" href="#"><i class="fa fa-download"></i>Resume</a>
        <a class="btn" href="#"><i class="fa fa-hands-helping"></i>Hire Me</a>
    </div>
</div>

